.container {
  display: flex;
  min-height: 100vh;
  background: #f5f6fa;
}

.sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar p {
  cursor: pointer;
  padding: 12px 10px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.sidebar p:hover {
  background: #1f2937;
}

.main {
  flex: 1;
  padding: 30px;
}
