.aboutPage {
  width: 100%;
  background: #ffffff;
}

/* STORY SECTION */
.storySection {
  min-height: 100vh;
  display: flex;
  padding: 80px 100px;
  gap: 80px;
}

/* LEFT */
.left {
  flex: 1;
}

/* Story wrapper for overlay */
.storyWrapper {
  position: relative;
  padding: 50px;
  border-radius: 20px;
  overflow: hidden;
}

/* Overlay background image */
.storyBg {
  position: absolute;
  height: 350px;
  inset: 0;
  background: url("/images/over.jpg") center/cover no-repeat;
  opacity: 0.15;
  z-index: 1;
}

/* Story content */
.storyContent {
  position: relative;
  z-index: 2;
}

.storyContent h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.storyContent p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
}

/* Images */
.storyImages {
  display: flex;
  gap: 20px;
    margin: 0 auto;
}

.storyImages img {
  width: 260px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto;
}

/* RIGHT */
.right {
  flex: 1;
  position: relative;
}

.right h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.right p {
  font-size: 16px;
  line-height: 1.8;
  color: #444;
  max-width: 420px;
}

/* Decorative opacity box */
.decorBox {
  position: absolute;
  top: 40px;
  right: 0;
  width: 240px;
  height: 240px;
  background: #f5c16c;
  opacity: 0.25;
  border-radius: 24px;
  z-index: -1;
}

/* MILESTONES */
.milestones {
  width: 80%;
  height: 250px;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  padding: 0 80px;
  margin-bottom: 120px;
}

.milestone {
  text-align: center;
}

.milestone h2 {
  font-size: 48px;
  color: #f5c16c;
  margin-bottom: 10px;
}

.milestone p {
  font-size: 16px;
  opacity: 0.8;
}
