/* ===== SECTION 1 ===== */

.sectionOne {
  height: 100vh;
  display: flex;
  align-items: center;
  
}

.imageWrapper {
 right: 0;
 width: 50%;
  
  
}

.imageWrapper img {
  width: 900px;
  height: 100vh;
  object-fit: cover;
  z-index:1;
  margin-left: 0;
  
}

.yellowBox {
  position: relative;
  bottom: 90px;
  left: 40px;
  background: #fcbf49;
  padding: 40px;
  width: 500px;
  z-index: 2  ;
  overflow: visible;
  font-size: 20px;
  
}
.textSec{
  position: relative;
  z-index: 2;
  margin-left: 80px;
  margin-top: 50px;
}

/* ===== SECTION 2 ===== */
.sectionTwo {
  height: 100vh;
  position: relative;
  padding: 60px;
}

.leftImage img {
  width: 50%;
  height: 70vh;
  object-fit: cover;
}

.textTop {
  position: absolute;
  top: 40px;
  left: 55%;
  max-width: 400px;
}

.imageGrid {
  position: absolute;
  bottom: 40px;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.imageGrid img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* ===== SECTION 3 ===== */
.sectionThree {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 80px;
}

.sectionThree .video video {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* ===== SECTION 4 ===== */
.sectionFour {
  width: 100vw;
  height: 120vh;
}

.sectionFour img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
